<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="data:,">
</head>
<body>
    @RenderBody()
</body>
</html>