.calendar {
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding: 16px 0;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  
  .day {
    width: 10px;
    height: 10px;
    border-radius: 2px;
  }
  
  .dayEmpty {
    background-color: #161b22;
    border: 1px solid #2d333b;
  }
  
  .dayFilled {
    background-color: #238636;
  }
  
  .day:hover {
    border: 1px solid #3fb950;
  }