@using Src.Services
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment Environment

@{
    ViewData["Title"] = "Home Page";
}

<div id="root"></div>

@if (Environment.IsDevelopment())
{
    <script type="module">
        import RefreshRuntime from "http://localhost:5173/@@react-refresh"
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
    </script>
    <script type="module" src="http://localhost:5173/@@vite/client"></script>
    <script type="module" src="http://localhost:5173/src/main.tsx"></script>
}
else
{
    var manifest = ManifestServices.GetManifestItem("index.html");
    @if (manifest != null)
    {
        <script type="module" src="/@manifest.file"></script>
        @foreach (var cssFile in manifest.css)
        {
            <link rel="stylesheet" href="/@cssFile">
        }
    }
}